/* Due to this being an expirement with viewport units, there are double measurements included where vmax is used due to lack of support in Internet Explorer. Information on workaround can be found here https://codepen.io/TBernard/post/using-vmax-units-in-ie */
body {
  height: 100vh;
  margin: auto;
}
.main-container {
  width: 100vw;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 calc(2 * (1vw + 1vh - 1vmin));
  padding: 0 2vmax;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  /* align-content: center; */
}
.input-area {
  -ms-grid-column: 1;
  -ms-grid-row-align: center;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}
.input-area h1 {
  font-size: calc(3 * (1vw + 1vh - 1vmin));
  font-size: 3vmax;
}
.input-area label {
  font-size: 16px;
}
.input-area input {
  margin: 0 0 calc(1 * (1vw + 1vh - 1vmin));
  margin: 0 0 1vmax;
  font-size: 16px;
}
.input-area button {
  padding: 5px;
  font-size: 16px;
}
.input-area select {
  margin: 0 0 calc(1 * (1vw + 1vh - 1vmin));
  margin: 0 0 1vmax;
}
.logo-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
  grid-column: 2 / 4;
  display: -ms-grid;
  display: grid;
  width: calc(35 * (1vw + 1vh - 1vmin));
  height: calc(38 * (1vw + 1vh - 1vmin));
  width: 35vmax;
  height: 38vmax;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 3fr 2fr 8%;
  grid-template-columns: repeat(4, minmax(25px, 1fr));
  grid-template-rows: 3fr 2fr 8%;
  font-size: calc(12 * (1vw + 1vh - 1vmin));
  font-size: 12vmax;
  line-height: 0.85;
}

.fade-in-border.circle-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  border-width: calc(2 * (1vw + 1vh - 1vmin));
  border-width: 2vmax;
  border-style: solid;
  border-radius: 50%;
  padding: 20px;
  padding-top: 0px;
  animation-delay: 3.5s;
}
.red-text {
  color: #c9211e;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.animate-title.first {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 1;
  -ms-grid-row-align: end;
  grid-column: 1/ 3;
  grid-row: 1;
  align-self: end;
  text-align: right;
  animation-delay: .5s;
}
.animate-title.second {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  -ms-grid-row: 1;
  -ms-grid-row-align: end;
  grid-column: 3 / 5;
  grid-row: 1;
  align-self: end;
  text-align: left;
  animation-delay: 1.5s;
}
.animate-title.blue-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  -ms-grid-row: 2;
  grid-column: 1 / 5;
  grid-row: 2;
  color: #204fa0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Quantico', sans-serif;
  font-size: calc(5 * (1vw + 1vh - 1vmin));
  font-size: 5vmax;
  font-weight: 600;
  animation-delay: 2.5s;
}
.animate-slogan.black-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  -ms-grid-row: 3;
  /* -ms-grid-row-span: 2; */
  grid-column: 1 / 5;
  grid-row: 3;
  color: #000;
  text-align: center;
  font-size: calc(3 * (1vw + 1vh - 1vmin));
  font-size: 3vmax;
  font-style: italic;
  line-height: normal;
  animation-delay: 3.5s;
}
/* add scale to fadein keyframe */
@keyframes titleAnimation { 
  0% { 
    opacity:0;
    transform: scale(10) translateX(0) translateY(0) skewX(45deg) skewY(0);
    transform-origin: 0% 50%;
  }
  25% {
    opacity: 1;
  } 
  100% { 
    opacity:1; 
    transform: rotate(0) scale(1) translateY(0) skewX(0) skewY(0);
    transform-origin: 0;
  } 
}
/* change this to steps or animate width instead */
@keyframes sloganAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBorder { 
  0% { 
    border-color: transparent;
    box-shadow: 0px 0px 0px 0px transparent;
  }
  50% {
    box-shadow: 0px 0px 5px 5px rgba(168,168,168,1);
  }
  100% { 
    /* border-image-source: linear-gradient(to right, rgb(204, 204, 204) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, rgb(204, 204, 204) 100%);
    border-image-slice: 1; */
    border-color: #ccc; 
    transform: rotate(0deg);
    box-shadow: 0px 0px 0px 0px transparent;
  } 
}

.animate-title {
  opacity:0;
  -webkit-animation:titleAnimation ease-in;
  -moz-animation:titleAnimation ease-in;
  animation:titleAnimation ease-in;
  
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
 }
 .animate-slogan {
  opacity:0;
  -webkit-animation:sloganAnimation ease-in;
  -moz-animation:sloganAnimation ease-in;
  animation:sloganAnimation ease-in;
  
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
 }

 .fade-in-border {
  border-color: transparent;
  -webkit-animation:fadeInBorder ease-in 1;
  -moz-animation:fadeInBorder ease-in;
  animation:fadeInBorder ease-in;
  
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
 }

 @media (max-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .input-area {
    order: 2;
    width: 90vw;
  }
  .logo-container {
    order: 1;
    align-self: center;
  }
 }