body {
  /* width: 100%; */
  height: 100vh;
  margin: auto;
}
.main-container {
  /* width: 100%; */
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 20px;
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
}
.input-area {
  -ms-grid-column: 1;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}
.input-area h1 {
  font-size: 3vmax;
}
.input-area label {
  font-size: 16px;
}
.input-area input {
  margin: 0 0 1vmax;
  font-size: 16px;
}
.input-area button {
  padding: 5px;
  font-size: 16px;
}
.logo-container {
  -ms-grid-column: 2;
  grid-column: 2 / 4;
  display: grid;
  width: 35vmax;
  height: 38vmax;
  grid-template-columns: repeat(4, minmax(25px, 1fr));
  grid-template-rows: 2fr 1fr 8%;
  font-size: 14vmax;
}

.fade-in-border.circle-content {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  border-width: 2vmax;
  border-style: ridge;
  border-radius: 50%;
  padding: 20px;
  padding-top: 0px;
  animation-delay: 3.5s;
}
.red-text {
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Ultra', serif;
  font-weight: 900;
}
.animate-title.first {
  grid-column: 1/ 3;
  grid-row: 1;
  align-self: end;
  text-align: right;
  animation-delay: .5s;
}
.animate-title.second {
  grid-column: 3 / 5;
  grid-row: 1;
  align-self: end;
  text-align: left;
  animation-delay: 1.5s;
}
.animate-title.blue-text {
  grid-column: 1 / 5;
  grid-row: 2;
  color: blue;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vmax;
  font-weight: 600;
  animation-delay: 2.5s;
}
.animate-slogan.black-text {
  grid-column: 1 / 5;
  grid-row: 3;
  color: black;
  text-align: center;
  font-size: 3vmax;
  font-style: italic;
  animation-delay: 3.5s;
}
/* add scale to fadein keyframe */
@keyframes titleAnimation { 
  0% { 
    opacity:0;
    transform: scale(10) translateX(0) translateY(0) skewX(45deg) skewY(0);
    transform-origin: 0% 50%;
  }
  25% {
    opacity: 1;
  } 
  100% { 
    opacity:1; 
    transform: rotate(0) scale(1) translateY(0) skewX(0) skewY(0);
    transform-origin: 0;
  } 
}
/* change this to steps or animate width instead */
@keyframes sloganAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBorder { 
  0% { 
    border-color: transparent;
    /* transform: rotate(30deg); */
    box-shadow: 0px 0px 0px 0px transparent;
  }
  50% {
    box-shadow: 0px 0px 5px 5px rgba(168,168,168,1);
    /* border-color: white; */
  }
  100% { 
    border-color: #ccc; 
    transform: rotate(0deg);
    box-shadow: 0px 0px 0px 0px transparent;
  } 
}

.animate-title {
  opacity:0;
  -webkit-animation:titleAnimation ease-in;
  -moz-animation:titleAnimation ease-in;
  animation:titleAnimation ease-in;
  
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
 }
 .animate-slogan {
  opacity:0;
  -webkit-animation:sloganAnimation ease-in;
  -moz-animation:sloganAnimation ease-in;
  animation:sloganAnimation ease-in;
  
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
 }

 .fade-in-border {
  border-color: transparent;
  -webkit-animation:fadeInBorder ease-in 1;
  -moz-animation:fadeInBorder ease-in;
  animation:fadeInBorder ease-in;
  
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
 }

 @media (max-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .input-area {
    order: 2;
  }
  .logo-container {
    order: 1;
  }
 }